.input{
  position: absolute;
  top: 30%;
  left: 45%;
  width: 220px;
  height: 30px;
}
.todoname{
  position: absolute;
  top: 15%;
  left: 30%;
  color: white;
}

.todologo{
  position: absolute;
  top: 18%;
  left: 70%;
  color: white;
}

.todolist{
  position: absolute;
  top: 35%;
  left: 45%;
  background-color: white;
  width: 260px;
}
.del{
  margin-left: 120px;
  margin-bottom: 2px;
  border: none;
  
}
.moon{
  display: absolute;
  top: 20px;
}
.clear{
  padding-right: 10px;
}

.all{
  padding-left: 12px;
}
@media screen and (max-width: 800px) {
  .mobilemoon{
    background-image: url('./images/bg-mobile-light.jpg');
    height: 300px;
  }
  .input{
    position: absolute;
    top: 30%;
    left: 22%;
    width: 220px;
    height: 30px;
  }
  .mobilesun{
    background-image: url('./images/bg-mobile-dark.jpg');
    height: 300px;
  }
  .todolist{
  position: absolute;
  top: 35%;
  left: 22%;
  background-color: white;
  width: 180px;
  }
  .del{
    margin-left: 10px;
    border: none;
    
  }
  .main{
    margin-left: 10px;
  }
  .demon{
    margin-right: -120px;
  }

}
